/* =================================
Base Element Styles
==================================== */
body {
    font-family: 'Josefin Slab', serif;
    line-height: ;
    color: black;
    background-color: white;
}

img {
    max-width: 100%;
}

/* =================================
Search Bar Styles
==================================== */

/* =================================
Gallery Styles
==================================== */

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    width: 45%;
    float: left;
    margin: 2.5%;
    text-align: center;
    
}
/* =================================
Footer Styles
==================================== */

.footer {
	display: block;
    text-align: center;
    clear: both;
}

/* =================================
Layout Containers
==================================== */
.container {
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 0 auto;
}

/* =================================
Media Queries
==================================== */
@media (min-width: 768px) {
    .container {
        padding-left: ;
        padding-right: ;
        max-width: ;
    }

    /*---- Float clearfix ----*/
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: ;
        margin: 0 auto;
    }
    
    /* ---- Float clearfix ----*/
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
}