/* =================================
Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Slab', serif;
    line-height: ;
    color: black;
    background-color: white;
}

img {
    max-width: 100%;
}

/* =================================
Search Bar Styles
==================================== */

.header {
    margin: 25px auto;
    text-align: center;
}

.search {
    display: inline-block;
    padding: 8px 15px;
    background-color: lightgray;
    border: solid 2px lightblue; 
    border-radius: 3px;
    margin: 0 auto;
    width:98%
}

/* =================================
Gallery Styles
==================================== */

#photos {
    margin: 0;
    padding: 0;
    list-style: none;
}

#photos li {
    width: 48%;
    float: left;
    margin: 1%;
    text-align: center;
    
}

/* =================================
Footer Styles
==================================== */

.footer {
	display: block;
    margin: 40px auto;
    text-align: center;
    padding: 8px 15px;
    clear: both;
    width: 100%;
}

/* =================================
Layout Containers
==================================== */
.container {
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: 0 auto;
}

/* =================================
Media Queries
==================================== */
@media (min-width: 768px) {
    .container {
        padding-left: 2%;
        padding-right: 2%;
    }
    
    #photos li {
        width: 20%;
        margin: 2%;
        text-align: center;

    }

    /*---- Float clearfix ----*/
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: ;
        margin: 0 auto;
    }
    
    /* ---- Float clearfix ----*/
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
}