/* =================================
Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Slab', serif;
    line-height: ;
    color: black;
    background-color: white;
}

img {
    max-width: 100%;
}

/* =================================
Search Bar Styles
==================================== */
.header {
    margin: 25px auto;
    text-align: center;
}

.search {
    max-width: 300px;
    display: inline-block;
    padding: 8px 15px;
    background-color: lightgray;
    border: solid 2px lightblue; 
    border-radius: 3px;
    margin: 0 auto;
    width:98%
}

/* =================================
Gallery Styles
==================================== */
#photos {
    margin: 0;
    padding: 0;
    list-style: none;
}

#photos li {
    width: 47%;
    float: left;
    margin: 0.5% 1.5%;
    padding: 0;
    text-align: center;
    
}

/* =================================
Footer Styles
==================================== */
.footer {
	display: block;
    margin: 40px auto;
    text-align: center;
    padding: 8px 15px;
    clear: both;
    width: 100%;
}

/* =================================
Layout Containers
==================================== */
.container {
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin: 0 auto;
}

/* =================================
Media Queries
==================================== */
/*Mobile Landscape*/
@media (min-width: 768px) {
    #photos li {
        width: 33.3333%;
        margin: 2.8% 0;
    }
}
/*Tablet Portrait*/
@media (min-width: 1024px) {
    .container {
        max-width: 1000px;
    }
    
    .search {
	max-width: 440px;
}
    #photos li {
        width: 23%;
        margin: 1.5% 1%;
        padding: 0;
        
    }
}
/*Tablet Landscape*/
/*Desktop*/